
.blog
  %p.blog__text テストテストテストテストテストテストテスト
  .blog__links
    =link_to "/", class: "blog__links__btn" do
      SHOW
    =link_to "/", class: "blog__links__btn" do
      EDIT
    =link_to "/", class: "blog__links__btn" do
      DESTOROY
.blog
  %p.blog__text テストテストテストテストテストテストテスト
  .blog__links
    =link_to "/", class: "blog__links__btn" do
      SHOW
    =link_to "/", class: "blog__links__btn" do
      EDIT
    =link_to "/", class: "blog__links__btn" do
      DESTOROY
.blog
  %p.blog__text テストテストテストテストテストテストテスト
  .blog__links
    =link_to "/", class: "blog__links__btn" do
      SHOW
    =link_to "/", class: "blog__links__btn" do
      EDIT
    =link_to "/", class: "blog__links__btn" do
      DESTOROY
.blog
  %p.blog__text テストテストテストテストテストテストテスト
  .blog__links
    =link_to "/", class: "blog__links__btn" do
      SHOW
    =link_to "/", class: "blog__links__btn" do
      EDIT
    =link_to "/", class: "blog__links__btn" do
      DESTOROY