.header
  =link_to root_path, class: "header__title" do
    BlogApp
  .header__links
    -if user_signed_in?
      =link_to edit_user_path(current_user), class: "header__links__btn" do
        ユーザー設定
      =link_to destroy_user_session_path, method: :delete, class: "header__links__btn" do
        ログアウト
      =link_to new_blog_path, class: "header__links__btn" do
        ブログを書く
    -else
      =link_to new_user_registration_path, class: "header__links__btn" do
        サインアップ
      =link_to new_user_session_path, class: "header__links__btn" do
        ログイン
