.header
  =link_to root_path, class: "header__title" do
    BlogApp
  .header__links
    -if user_signed_in?
      -# .header__links__form
      -#   =fa_icon "search", class: ".header__links__form--image"
      -#   =text_field_tag "nickname-form", "", class: ".header__links__form--box", placeholder: "ユーザーを検索"
      %p.header__links__name
        = "こんにちは#{current_user.nickname}さん"
      =link_to edit_user_path(current_user), class: "header__links__btn" do
        ユーザー設定
      =link_to destroy_user_session_path, method: :delete, class: "header__links__btn" do
        ログアウト
      =link_to new_blog_path, class: "header__links__btn" do
        ブログを書く
      .header__links__form
        =fa_icon "search", class: ".header__links__form--image"
        =text_field_tag "nickname-form", "", class: ".header__links__form--box", placeholder: "ユーザーを検索"
      %p.header__links__back 戻る
    -else
      %p.header__links__name こんにちはゲストさん
      =link_to new_user_registration_path, class: "header__links__btn" do
        サインアップ
      =link_to new_user_session_path, class: "header__links__btn" do
        ログイン
      %p.header__links__back 戻る
  .header__icon
    = fa_icon "bars", class: "fa-2x"
    
