.header {
  height: 70px;
  width: 100vw;
  padding: 0 40px;
  background-color: $green;
  display: flex;
  // justify-content: space-between;
  justify-content: flex-start;
  &__title {
    display: block;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
  }
  &__links {
    line-height: 70px;
    position: relative;
    margin-left: auto;
    &__btn {
      padding: 0 10px;
      @include button-style;
    }
  }
}

.fa-bars {
  &:hover {
  cursor: pointer;
  }
  &::before {
  line-height: 70px;
  color: $white;
  }
}

.flash-alert {
  @include flash;
  background-color: #f56e6e;
}

.flash-notice {
  @include flash;
  background-color: $green;
}

.main {
  height: calc(100vh - 70px);
  padding: 50px 200px;
  overflow: scroll;
}

.blog {
  width: 100%;
  padding: 30px 0;
  border-bottom: 2px solid $green;
  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  &__info {
    font-size: 12px;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  &__links {
    text-align :right;
    font-size: 14px;
    &__btn {
      color: $white;
      background-color: $green;
      padding: 5px 20px;
      margin-left: 20px;
      border-radius: 2px;
      @include button-style;
    }
  }
}
