

.header {
  height: 70px;
  width: 100vw;
  padding: 0 40px;
  background-color: $green;
  display: flex;
  justify-content: space-between;
  &__title {
    color: $white;
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
  }
  &__links {
    line-height: 70px;
    &__btn {
      padding: 0 10px;
      @include button-style;
    }
  }
}

.main {
  padding: 50px 200px;
}

.blog {
  width: 100%;
  padding: 40px 30px;
  margin-bottom: 30px;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4); を指定
  &__text {
    font-size: px;
  }
  &__links {
    margin-top: 20px;
    font-size: 14px;
    &__btn {
      background-color: $green;
      padding: 5px 20px;
      margin-right: 5px;
      border-radius: 2px;
      @include button-style;
    }
  }
}
